<h1>Landings#index</h1>
<p>Find me in app/views/landings/index.html.erb</p>

<% if signed_in? %>

<table id='excps'>
	<thead>
		<tr>
			<th>fixed?</th>
			<th>date fixed</th>
			<th>thread</th>
			<th>trace</th>
			<th>notes</th>
			<th>times occured</th>
			<th>latest occur. date</th>
			<th>latest occur. release</th>
			<th>show</th>
			<th>edit</th>
			<th>delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>

<

<% end %>