<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>Sleep as Android :: exception tracking</h1>
	</div>
</div>

<% if signed_in? %>

<br>
<br>

<div class="row">
	<div class="col-md-2 col-md-offset-4">
		<%= link_to 'Exceptions', excps_path, :class => 'btn btn-lg btn-primary' %>
	</div>
	<div class="col-md-2"> 
		<%= link_to 'Assertions', assertions_path, :class => 'btn btn-lg btn-primary' %> 
	</div>
</div>

<% end %>