<%- model_class = Occurence -%>
<div class="page-header">
  <h3><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Occurence %></h3>
</div>
<%= render :partial => 'form' %>

